/* Sección de formulario */
.add-section {
    width: 30%;
    box-sizing: border-box;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 0px;
}

input {
    width: 100%;
    height: 33px;
    margin: 20px 0;
    border: none;
    border-radius: 10px;
    padding: 0 0 0 10px;
    

}

.delete-button,
.img-delete {
    width: 3rem;
    border-radius: 50%;
}

.botton-container {
    width: 100%;
    display: flex;
    justify-content: space-between;


}

.button-submit,
.button-clear {
    width: 110px;
    height: 33px;
    border-radius: 20px;
    cursor: pointer;
    justify-content: space-between;
    transition: 1s all;
}

.button-submit {
    background-color: var(--color-secondary);
}

.button-submit:hover {
    background: var(--linear-botes);
    transform: scale(1.1);
}

.button-clear {
    background-color: var(--color-secondary);
}

.button-clear:hover {
    background: var(--red-clear);
    transform: scale(1.1);
}

/*  escritorios  */
@media (max-width: 1024px) {

}
/* Tabletas  */
@media (max-width: 768px) {

}
/* Móviles  */
@media (max-width: 430px) {
    /* section form */

  .add-section {
    width: 100%;
    padding: 40px;
  }
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 8px 4px;
      }
      .button-submit,
      .button-clear {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
      }
}