:root {
    --color-primary: ;
    --color-secondary: white;
    --main-bg-color: linear-gradient(180deg, #2d1ff8 0%, #3277d0 48.44%, #e7ecf1 100%);
    --fundo-card-timer: rgba(20, 68, 128, 0.30);
    --lils: #B872FF;
    --linear-botes: linear-gradient(180deg, #B872FF 0%, #144480 100%);
  }
  
  * {
    box-sizing: border-box;
    max-width: 100%;
  }
  
  html {
    background: var(--main-bg-color);
    font-size: 10px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin: 3rem 0;
    text-align: center;
  }
  
  .header {
    display: flex;
    justify-content: center;
    background: var(--color-secondary);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Sección de productos */
  .products-section {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  
  .products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .products-container::-webkit-scrollbar-track {
    background: var(--color-secondary);
  }
  
  .card {
    display: flex;
    flex-direction: column;
    background-color: #03318C;
    color: white;
    width: calc(33.33% - 14px); /* Ancho de las tarjetas ajustado */
    padding: 10px;
    border-radius: 20px;
    border: 3px solid transparent;
  }
  
  .card-container--info {
    text-align: center;
  }
  
  .delete-button {
    cursor: pointer;
  }
  
  /* Sección de formulario */
  .add-section {
    width: 45%;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    width: 100%;
    height: 33px;
    margin: 20px 0;
    border-radius: 10px;
    padding: 0 10px;
  }
  
  .botton-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
  }
  
  .button-submit,
  .button-clear {
    width: 130px;
    height: 33px;
    border-radius: 20px;
    margin: 3px 0;
  }
  
  .button-submit {
    background-color: var(--color-primary);
  }
  
  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-secondary);
  }
  
  .app__footer-text {
    color: #03318C;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  
  /* Tabletas y escritorios */
  @media (max-width: 1024px) and (min-width: 768px) {
    .products-section,
    .add-section {
      width: 45%;
    }
  }
  
  /* Móviles */
  @media (max-width: 767px) {
    main {
      flex-direction: column;
      align-items: center;
    }
  
    .products-section,
    .add-section {
      width: 90%;
    }
  
    .card {
      width: calc(50% - 10px); /* Ancho de las tarjetas ajustado para móviles */
    }
  }
  
  /* Móviles pequeños */
  @media (max-width: 430px) {
    .card {
      width: 100%; /* Ancho de las tarjetas ajustado para móviles pequeños */
    }
  }